{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <img src="{{ asset('/images/productImg/' ~ product.image) }}" class="img-thumbnail" alt="...">
    <h1 class="text-center">{{product.nom}}</h1>
    <h5 class="text-center">{{product.categorie.nom}}</h5>
    <h2 class="text-center">{{product.titre}}</h2>
    <p class="text-center">{{product.description}}</p>
    <h4 class="text-center">{{product.prix}} €</h4>
{% endblock %}
